form {
    border: 1px solid #454545; /* Add a 1px solid border with a light gray color */
    padding: 20px; /* Add some padding for better visual appearance */
}

.full-width-button {
    width: 100%; 
}  

.form-container {
    box-shadow: 10px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px; /* Add some padding for better visual appearance */
}

input{
    border: 1px solid #000000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
button{box-shadow: 10px 4px 8px rgba(0, 0, 0, 0.1);}

select{
    border: 1px solid #000000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}