
<body>

<ngb-carousel>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img style="width: 100vw;     height: 610px;" src="../assets/2.jpg" alt="Random first slide" />
        </div>
        <div class="carousel-caption">
            <h1 id="p1">Inspiring leadership innovation.</h1>
            <p>Employee Management System</p>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img style="width: 100vw;     height: 610px;" src="../assets/1.jpg" alt="Random second slide" />
        </div>
        <div class="carousel-caption">
            <h3  id="p1">Second slide label</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
    </ng-template>
    <!-- <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img [src]="images[2]" alt="Random third slide" />
        </div>
        <div class="carousel-caption">
            <h3>Third slide label</h3>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </div>
    </ng-template> -->
</ngb-carousel>
 
  

        <!-- Skills -->
        <section id="skills" class="section-2 odd highlights image-right counter skills featured">
            <br><br>
                <div class="divMain container">
                    <div class="container c1 text">
                        <h1 class="text"> Techknowlogy Stack Used:</h1>
                        <br>
                        <ul class="category" id="t1">
                            <li>Backend Techknowlogy
                              <ul class="subcategory">
                                <li>Java</li>
                                <li>Spring Boot</li>
                              </ul>
                            </li>
                            <li>Frontend Techknowlogy
                              <ul class="subcategory">
                                <li>Angular</li>
                              </ul>
                            </li>
                            <li>Database Techknowlogy
                              <ul class="subcategory">
                                <li>MySQL</li>
                              </ul>
                            </li>
                          </ul>
                          
                         
                    </div>
                    <div class=" image">
                        <img src="../assets/about-5.webp" class="fit-image" alt="Fit Image">
                    </div>
                </div>
                <br><br>
        </section>

<!--         
<section class="s1">
    <br><br>
  
<div class="container">

   <h1 id="p2"> EMPLOYEE MANAGEMENT SYSTEM</h1> 
    <br><br>
<div class="navigation">
    <div class="card" style="width: 18rem;">
        <img src="../assets/download.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Employee List</h5>
          <p class="card-text">list of all Employees</p>
          <a routerLink="/show-all-employees"  class=" btn btn-primary">Employee List</a>

        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
           <a ng-click="goToEmployeeList()" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>    
      </div>
</div>
  <br><br>

</section > -->

<section class="about ">
    <br><br>
    <div class="container">
<div class="about-section">
    <h1>About Us Page</h1>
    <br>
    <!-- <p>Some text about who we are and what we do.</p> -->
    <p>Effectively and systematically manage and document the pertinent details and information of your employees to ensure a thorough and accurate record-keeping system within your organizational framework.</p>
  </div>
  <br><br>
  <h2 style="text-align:center">Our Team</h2>
  <br><br>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="../assets/team1.jpg" alt="Jane" style="width:100%">
        <div class="container">
          <h2>Jane Doe</h2>
          <p class="title">CEO & Founder</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>jane@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="../assets/team2.jpg" alt="Mike" style="width:100%">
        <div class="container">
          <h2>Mike Ross</h2>
          <p class="title">Art Director</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>mike@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="../assets/team3.jpg" alt="John" style="width:100%">
        <div class="container">
          <h2>John Doe</h2>
          <p class="title">Designer</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>john@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  </div>
</div>
<br><br><br><br><br>
</section>

</body>